* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-size: 14px;
}

body {
    background: #000; 
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(netflix/netflixbackground.jpg);
    background-size: cover; 
    padding: 10px 8%; 
    position: relative; 
}

nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;  
    position: relative;
    width: 100%;
}

.netflix-image {
    width: 150px;
    cursor: pointer; 
}

nav button {
    border: 0; 
    outline: 0; 
    background: #db0001;
    color: #fff; 
    padding: 7px 20px; 
    font-size: 14px; 
    border-radius: 4px; 
    margin-left: 10px;
    cursor: pointer;
}

.globe {
    width: 30px; 
    padding-top: 20px; 
}

#dropdown {
    padding: 5px; 
    background: transparent;
    color: #fff;
    font-size: 14px; 
    border-radius: 4px;
    position: absolute;
    left: 1050px;
    overflow: auto;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center; 
    margin-top: 100px;
    font-family: sans-serif;
}

h1 {
    display:block;
    font-size: 3rem;
    margin-block-start: 0.67em; 
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 900; 
}

p {
    display: block; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 1rem; 
    font-size: 1.5rem; 
    font-weight: 400; 
}

h3 {
    display: block; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400; 
    font-size: 1.25rem; 
    line-height: 1.875rem;
}

.emailsignup input {
    background: rgba(0,0,0,0.3); 
    width: 50%;
    border-radius: 4px; 
    color: #fff;
    flex: 1 1 auto; 
    border: 1px solid rgba(255, 255, 255, 0.7); 
    outline: 0; 
    margin-left: 20px; 
    padding: 15px 20px;
}

.emailsignup button {
    background: #db0001; 
    border-radius: 4px;
    border: 0;
    outline: 0; 
    color: #fff;
    font-size: 14px; 
    cursor: pointer;
    padding: 17px 30px; 
}

/*---------features--------*/

.features { 
    padding: 50px 12%;
    font-family: sans-serif;
}

.text-col {
    flex-basis: 50%; 
    margin-bottom: 20px;
}

.row {
    display: flex; 
    width: 100%;
    align-items: center;
    flex-wrap: wrap; 
    padding: 50px 0; 
}

.features h2 {
    font-size: 3rem; 
    font-weight: 900; 
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin: 1rem 0 0;
    font-size: 1.125rem;
    font-weight: 400; 
    display:block; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-block-end: 0px;
}

.parent {
    position: relative;
    flex-basis: 50%;
    margin-bottom: 20px;
    top: 0;
    left: 0;
}

.parent img {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
}

.parent video {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%; 
    top: 90px;; 
    left: 80px;

}

.newparent {
    position: relative;
    flex-basis: 50%;
    margin-bottom: 20px;
    top: 0;
    left: 0;
}

.newparent img {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
}

.newparent video {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%; 
    top: 70px; 
    left: 100px;
}

.parent input {
    padding: 0.5rem 0.75rem; 
    overflow: hidden;
    position: absolute; 
    margin: 0 auto; 
    background: rgba(0,0,0,1);
    display: flex; 
    align-items: center; 
    width: 55%; 
    height: 20%;
    min-width: 15rem; 
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 0.75rem; 
    z-index: 1; 
    bottom: 5%;
    left: 22%;
}

#img1 {
    background-image: url(netflix/strangerthings.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: content-box; 
}

.box-text h2 {
    font-size: 16px; 
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    position: absolute; 
    bottom: 12%; 
    left: 35%;
    z-index: 1; 
}

.box-text p {
    font-size: 15px; 
    font-weight: 400; 
    color: #0071eb;
    position: absolute; 
    bottom: 11%;
    left: 35%; 
    z-index: 1;
}

.gif {
    width: 4rem; 
    height: 4rem;
    outline: 2px solid rgba(0,0,0,1);
    outline-offset: -2px; 
    position: absolute; 
    bottom: 9%;
    left: 65%;
    z-index: 1;
}

.faq {
    padding: 10px 12%; 
}

.faq h2 {
    text-align: center;
    font-size: 3rem; 
    font-weight: 900; 
    margin: 0; 
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}