* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}

body {
    background: #000; 
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(netflix/netflixbackground.jpg);
    background-size: cover; 
    padding: 10px 8%; 
    position: relative; 
}

nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;  
    position: relative;
    width: 100%;
}

.netflix-image {
    width: 150px;
    cursor: pointer; 
}

nav button {
    border: 0; 
    outline: 0; 
    background: #db0001;
    color: #fff; 
    padding: 7px 20px; 
    border-radius: 4px; 
    margin-left: 10px;
    cursor: pointer;
}

.globe {
    width: 30px; 
    padding-top: 20px; 
}

#dropdown {
    padding: 5px; 
    background: transparent;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    left: 1050px;
    overflow: auto;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center; 
    margin-top: 100px;
}

h1 {
    display:block;
    font-size: 3rem;
    margin-block-start: 0.67em; 
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 900; 
}

p {
    display: block; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 1rem; 
    font-size: 1.5rem; 
    font-weight: 400; 
}

h3 {
    display: block; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400; 
    font-size: 1.25rem; 
    line-height: 1.875rem;
}

.emailsignup input {
    background: rgba(0,0,0,0.3); 
    width: 50%;
    border-radius: 4px; 
    color: #fff;
    flex: 1 1 auto; 
    border: 1px solid rgba(255, 255, 255, 0.7); 
    outline: 0; 
    margin-left: 20px; 
    padding: 15px 20px;
}

.emailsignup button {
    background: #db0001; 
    border-radius: 4px;
    border: 0;
    outline: 0; 
    color: #fff;
    cursor: pointer;
    padding: 17px 30px; 
}

/*---------features--------*/

.features { 
    padding: 50px 12%;
}

.text-col {
    flex-basis: 50%; 
    margin-bottom: 20px;
}

.row {
    display: flex; 
    width: 100%;
    align-items: center;
    flex-wrap: wrap; 
    padding: 50px 0; 
}

.features h2 {
    font-size: 3rem; 
    font-weight: 900; 
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin: 1rem 0 0;
    font-size: 1.125rem;
    font-weight: 400; 
    display:block; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-block-end: 0px;
}

.parent {
    position: relative;
    flex-basis: 50%;
    margin-bottom: 20px;
    top: 0;
    left: 0;
}

.parent img {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
}

.parent video {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%; 
    top: 90px;; 
    left: 80px;

}

.newparent {
    position: relative;
    flex-basis: 50%;
    margin-bottom: 20px;
    top: 0;
    left: 0;
}

.newparent img {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
}

.newparent video {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%; 
    top: 70px; 
    left: 100px;
}

.parent input {
    padding: 0.5rem 0.75rem; 
    overflow: hidden;
    position: absolute; 
    margin: 0 auto; 
    background: rgba(0,0,0,1);
    display: flex; 
    align-items: center; 
    width: 55%; 
    height: 20%;
    min-width: 15rem; 
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 0.75rem; 
    z-index: 1; 
    bottom: 5%;
    left: 22%;
}

#img1 {
    background-image: url(netflix/strangerthings.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: content-box; 
}

.box-text h2 {
    font-size: 16px; 
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    position: absolute; 
    bottom: 12%; 
    left: 35%;
    z-index: 1; 
}

.box-text p {
    font-size: 15px; 
    font-weight: 400; 
    color: #0071eb;
    position: absolute; 
    bottom: 11%;
    left: 35%; 
    z-index: 1;
}

.gif {
    width: 4rem; 
    height: 4rem;
    outline: 2px solid rgba(0,0,0,1);
    outline-offset: -2px; 
    position: absolute; 
    bottom: 9%;
    left: 65%;
    z-index: 1;
}

.faq {
    padding: 10px 12%; 
}

.faq h2 {
    text-align: center;
    font-size: 3rem; 
    font-weight: 900; 
    margin: 0; 
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.list {
    margin: 60px auto; 
    width: 100%;
}

.list li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.list li label {
    display: flex; 
    align-items: center;
    padding: 20px; 
    font-size: 18px; 
    font-weight: 500; 
    margin-bottom: 0.0625rem;  
    background-color: rgba(45, 45, 45, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    position: relative;
}

.list label::after {
    content: '+';
    font-size: 34px;
    position: absolute; 
    right: 20px;
}

input[type="radio"]{
    display: none;
}

.list .content {
    font-size: 1.5rem;
    font-weight: 400;
    overflow: hidden; 
    visibility: visible; 
    max-height: 0px; 
    padding: 0px 1.5rem; 
    text-align: left; 
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    transition: all 0.25s;
}

.list .content a {
    color: rgb(255, 255, 255);
    border-radius: 0.125rem;
}

.list input[type="radio"]:checked + label + .content {
    max-height: 600px; 
    padding: 30px 20px;
}

.list input[type="radio"]:checked + label::after {
    transform: rotate(-45deg);
}

.faq .emailsignup {
    display: flex;
    text-align: left; 
    position: relative; 
    margin: 1rem auto 0; 
    width: 100%; 
    max-width: 36.625rem;
    border-radius: 4px;  
}

.faq h3 {
    margin: 0;
    text-align: center;
    font-weight: 400; 
    font-size: 1.25rem; 
}

footer {
    padding: 50px 15% 10px; 
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    border-top: 8px solid #333;
    margin-top: 60px;
}

.small-header p {
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
}

.small-header a {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 0.125rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    margin: 0rem; 
    padding: 0rem; 
    font-size: 1rem;
    font-weight: 400;
}

.col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.col a {
    display: block; 
    appearance: none;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 0.125rem;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 400;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}

#footer-dropdown {
    padding: 10px 20px; 
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    overflow: auto;
}

.footer-text {
    margin-top: 20px; 
    margin-bottom: 10px;
}